* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    scroll-behavior: smooth;
}


.navbar {
    display: flex;
    justify-content: flex-end;
}

.anchor {
    padding: 2rem 1rem;
    color: #000;
    text-decoration: none;
}

.anchor:hover {
    color: blue;
}

.wrapper-main {
    padding-inline: 5rem;
    color: #4f4f4f;
}

.hero {
    display: flex;
    min-height: 100vh;
}

.info,
img {
    width: 50%;
}

.info {
    padding-top: 7rem;
}

.first-head,
.main-head,
.second-head {
    padding-block: 0.7rem;
}

.first-head {
    font-size: 1.8rem;
}

.main-head {
    font-size: 2.6rem;
}

.second-head {
    font-size: 1.4rem;
    letter-spacing: 3px;
}

#about {
    display: flex;
    min-height: 100vh;
    gap: 2rem;
}

img {
    object-fit: contain;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.information {
    display: flex;
    flex-direction: column;
}

.heading {
    text-align: center;
    font-size: 2rem;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.education {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.edu-card {
    width: 40%;
    height: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 0.5rem 1rem #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.edu-card:hover,
.skill-card:hover,
.contact-card:hover {
    scale: 1.05;
}

.edu-name {
    font-size: 1.3rem;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.skill-card {
    gap: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem #ccc;
    height: 12rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease scale;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    justify-content: space-around;
    min-height: 50vh;
    gap: 1rem;
}

.contact-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    box-shadow: 0 0.5rem 1rem #ccc;
    align-items: center;
    transition: 0.2s ease scale;
    height: 8rem;
    justify-content: center;
    border-radius: 0.5rem;
    gap: 0.5rem;
}

@media screen and (max-width:576px) {
    html {
        font-size: 80%;
    }

    .wrapper-main {
        padding-inline: 2rem;
        padding-block-end: 5rem;
    }

    .navbar {
        justify-content: center;
    }

    .hero {
        flex-direction: column;
        gap: 2rem;

    }

    .hero>* {
        width: 100%;
    }

    .info>*,
    #about>* {
        text-align: center;
        width: 100%;
    }

    #about {
        flex-direction: column;
    }

    .information {
        text-align: justify;
    }

    .edu-card {
        width: 100%;
    }

    .skills {
        justify-content: center;
    }

    .skill-card {
        width: 40%;
    }
}
