* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.navbar {
    display: flex;
    width: 100%;
    /* padding-bottom: 2rem; */
    position: fixed;
    background: #fff;
    box-shadow: 0 0.2rem 0.3rem rgba(71, 12, 135, 0.119);

}

.ul1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.navlink {
    display: flex;
    padding: 2rem 1rem;
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: column;
    padding-right: 3rem;
    justify-content: flex-start;
    min-height: 100%;
}

.left,
.right {
    width: 50%;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 7rem;
    height: 100vh;
}

.right img {
    width: 85%;
}

.sp1,
.sp2,
.sp3 {
    padding-block: 1rem;
    color: rgb(79, 79, 79);

}

.sp1 {
    font-size: 2rem;
    text-align: left;
}

.sp2 {
    font-size: 3rem;
    font-weight: 500;
}

.sp3 {
    font-size: 1.8rem;
    letter-spacing: 0.4rem;
    font-weight: 700;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    height: 100%;
}

.navlink:hover {
    color: blue;
}

.about {
    display: flex;
    flex-direction: row;
    padding-inline: 7rem;
    padding-block: 5rem;
    align-items: stretch;
}

.illustration,
.introduction {
    width: 50%;
    color: rgb(79, 79, 79);
}

.introhead {
    font-size: 2.5rem;
    padding-block: 2.5rem;
    /* letter-spacing: 0.1rem; */
}

.introduction {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 5rem;
}

.intro {
    line-height: 1.5rem;
}

.illustration {
    padding-top: 5rem;
}

.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    gap: 5rem;
    height: 100vh;
    padding: 5rem 7rem;
    color: rgb(79, 79, 79);
}

.edu {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    justify-content: center;
    box-shadow: 0 0.2rem 0.3rem rgba(71, 12, 135, 0.119);
    cursor: pointer;
}

.edu,
.key {
    padding-block: 1rem;
}

.key {
    padding-top: 1rem;
    font-size: 2rem;
}
.li {
    display: flex;
}
a{
    color: rgb(79, 79, 79);
    text-decoration: none;
    display: flex;

}
.value {
    padding-bottom: 1rem;
    letter-spacing: 0.08rem;
}

.skill {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.3rem rgba(71, 12, 135, 0.119);
    flex-basis: 15%;
    padding: 1rem;
    padding-bottom: 0;
    transition: 0.3s ease   ;
    border-radius: 0.7rem;
}

.skills {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    padding: 5rem 2rem;
    cursor: pointer;
    
}
.wrapper{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.skill img{
    width: 100%;
}
.skillname{
    width: 100%;
    text-align: center;
    font-weight: 700;
    line-height: 1.9rem;
    padding-bottom: 0.7rem;
    border-radius: 0.7rem;
}

.skillhead{
    align-self: center;
    justify-self: center;
    font-size: 2rem;
    color: rgb(79, 79, 79);
}
.skill:hover{
    scale: 1.1;
}
.contacts{
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 5rem 7rem
}
.contacthead{
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
}
.contactrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.contact{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.2rem 0.3rem rgba(71, 12, 135, 0.119);
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;    
    margin-inline: 0.8rem;
    padding-block: 3rem;
    cursor: pointer;
    border-radius: 0.7rem;
    transition: 0.3s ease;
}
.contact div{
    padding-block: 0.2rem;
}
.contacttype{
    font-size: 1.3rem;
    font-weight: 700;
}

.contact:hover{
    scale: 1.08;
}